body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  /*border: 1px dotted; */
}

.createCard {
  display: block;
  float: left;
}

#scrumboard {
  width: 70%;
  float: right;
}

#create {
  padding-top: 10px;
  font-size: 14px;
}

#submit {
  margin-top: 10px;
  float: right;
}

.table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  height: 500px;
  vertical-align: top;
  float: right;
}

th, td {
  border: 1px solid;
}

th {
  font-size: 150%;
}

td {
  width: 33.3%;
  vertical-align: top;
}

td#todo #inProgress #done {
  vertical-align: top;
}

.taskCard {
  margin: 10px;
  padding: 10px;
  border: 1px dotted;
  float: middle;
}

.task_head {
  margin-bottom: 10px;
}

.task_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.task_rating {
  float: right;
}

.task_description {
  margin-bottom: 10px;
}

.task_responsible {
  margin-bottom: 5px;
}

.task_edit {
  margin-top: 10px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.edit, .save {
  width: 20px;
  display: block;
  position: relative;
  top: -5px;
  right: 0px;
  padding: 4px 10px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
}

.edit { 
  background: #557a11;
  color: #f0f0f0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.save {
  display: none;
  background: #bd0f18;
  color: #f0f0f0;
}

.taskCard:hover .edit {
  opacity: 1;
}
